@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gestion App</h1>
    <p>Application de gestion des approvisionnements</p>
    <p><a href="/Approvisionnements" class="btn btn-primary btn-lg">Voir les Approvisionnements</a></p>
</div>
